@{
    Layout = null;
}
<html lang="en">
<head>
    <title>M-Market Registration</title>
    <link rel="stylesheet" href="~/css/nonTemplaate.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .msg-error {
            visibility: visible;
            color: #e74c3c;
        }

        .form-control-success {
            border-color: #2ecc71;
        }

        .form-control-error {
            border-color: #e74c3c;
        }

        .msg {
            visibility: hidden;
        }
    </style>
    <script>
        function registerUser() {
            var userID = $('#UserID');
            var email = $('#Email');
            var password = $('#Password');
            var comfirmPassword = $('#ConfirmPassword');

            if (checkLength(userID, 5, 50) == false) {
                return;
            }

            if (checkEmail(email) == false) {
                return;
            }

            if (checkLength(password, 10, 50) == false) {
                return;
            }

            if (checkComparePassword(password, comfirmPassword) == false) {
                return;
            }

            var param = {
                userID: userID.val().trim(),
                email: email.val().trim(),
                password: password.val().trim()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("RegisterProcess")",
                data: param,
                dataType: "json",
                success: function (data) {
                    var jsonValue = data;
                    if (jsonValue == 1) {
                        alert("Registration success");
                        location.href = "Login";
                    } else if (jsonValue == -1) {
                        alert("Account exists.");
                    } else {
                        alert("Registration failed");
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function fnGetQuery() {
            var url = document.location.href;
            var qs = url.substring(url.indexOf('?') + 1).split('&');
            for (var i = 0, result = {}; i < qs.length; i++) {
                qs[i] = qs[i].split('=');
                result[qs[i][0]] = decodeURIComponent(qs[i][1]);
            }

            return result;
        }

        function checkLength(input, min, max) {
            var result;
            if (input.val().length < min) {
                result = showError(input, input[0].id + ' must be at least ' + min + ' characters')
            } else if (input.val().length > max) {
                result = showError(input, input[0].id + ' must be less than ' + max + ' characters')
            } else {
                result = showSuccess(input);
            }

            return result;
        }

        function checkEmail(email) {
            var result;
            let regex = new RegExp('[a-z0-9]+@@[a-z]+\.[a-z]{2,3}');

            if (regex.test(email.val().trim())) {
                result = showSuccess(email);
            } else {
                result = showError(email, 'Please Write right Email');
            }

            return result;
        }

        function checkComparePassword(pass, comparePass) {
            var result;

            if (pass.val().trim() == comparePass.val().trim()) {
                result = showSuccess(pass);
            } else {
                result = showError(comparePass, 'Please check your password');
            }

            return result;
        }

        function showError(input, msg) {
            input[0].classList.toggle('form-control-error');

            const small = input.siblings('small');
            small[0].classList.toggle('msg-error');

            small[0].innerText = msg;
            input.val('');
            return false;
        }

        function showSuccess(input) {
            input[0].classList.toggle('form-control-success');
            const small = input.siblings('small');
            small[0].innerText = '';
            return true;
        }

    </script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="outer">
                <div class="inner">
                    <div class="main_w">
                        <div class="main_box">
                            <h2 style="color:#fff">Register With Us</h2>
                            <ul>
                                <li>
                                    <label for="UserID">UserID</label>
                                    <input type="text" id="UserID" style="width: 300px;" placeholder="Enter userId">
                                    <small id="idMsg" style="display: block;"></small>
                                </li>
                                <li>
                                    <label for="Email">Email</label>
                                    <input type="email" id="Email" style="width: 300px;" placeholder="Enter email">
                                    <small id="emailMsg" style="display: block;"></small>
                                </li>
                                <li>
                                    <label for="Password">Password</label>
                                    <input type="password" id="Password" style="width: 300px;" placeholder="Enter password">
                                    <small id="passwordMsg" style="display: block;"></small>
                                </li>
                                <li>
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" id="ConfirmPassword" style="width: 300px;" placeholder="Enter password again" min="6" max="25">
                                    <small id="confirmPasswordMsg" style="display: block;"></small>
                                </li>

                                <li class="main_btn">
                                    <a runat="server" id="btnRegister" style="cursor:pointer;" onclick="registerUser();">R E G I S T E R</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>